Flask==0.10.1
Flask-RethinkDB==0.2
Flask-Script==2.0.5
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PySocks==1.5.6
pytz==2016.3
rethinkdb==2.2.0.post5
six==1.10.0
twilio==5.4.0
Werkzeug==0.11.4
