/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*VARIABLES*/
/*MIXINS*/
/*SASS FILES*/
/* line 1, ../sass/_mat-colors.scss */
.mat-red, .create-holder form .option-wrapper input[type=button] {
  background-color: #F44336;
}

/* line 5, ../sass/_mat-colors.scss */
.mat-black {
  background-color: #3a3a3a;
}

/* line 9, ../sass/_mat-colors.scss */
.mat-pink, .podium-info .graph-area {
  background-color: #E91E63;
}

/* line 13, ../sass/_mat-colors.scss */
.mat-purple {
  background-color: #9C27B0;
}

/* line 17, ../sass/_mat-colors.scss */
.mat-deep-purple {
  background-color: #673AB7;
}

/* line 21, ../sass/_mat-colors.scss */
.mat-indigo {
  background-color: #3F51B5;
}

/* line 25, ../sass/_mat-colors.scss */
.mat-blue {
  background-color: #2196F3;
}

/* line 29, ../sass/_mat-colors.scss */
.mat-light-blue {
  background-color: #03A9F4;
}

/* line 33, ../sass/_mat-colors.scss */
.mat-cyan, .shout-column, .wrapper, .create-holder form input[type=submit] {
  background-color: #00BCD4;
}

/* line 37, ../sass/_mat-colors.scss */
.mat-teal {
  background-color: #009688;
}

/* line 41, ../sass/_mat-colors.scss */
.mat-green, .create-holder form label input[type=submit], .create-holder form label .form-button {
  background-color: #4CAF50;
}

/* line 45, ../sass/_mat-colors.scss */
.mat-light-green {
  background-color: #8BC34A;
}

/* line 49, ../sass/_mat-colors.scss */
.mat-lime {
  background-color: #CDDC39;
}

/* line 53, ../sass/_mat-colors.scss */
.mat-yellow {
  background-color: #FFEB3B;
}

/* line 57, ../sass/_mat-colors.scss */
.mat-amber {
  background-color: #FFC107;
}

/* line 61, ../sass/_mat-colors.scss */
.mat-orange {
  background-color: #FF9800;
}

/* line 65, ../sass/_mat-colors.scss */
.mat-deep-orange {
  background-color: #FF5722;
}

/* line 69, ../sass/_mat-colors.scss */
.mat-brown {
  background-color: #795548;
}

/* line 73, ../sass/_mat-colors.scss */
.mat-grey {
  background-color: #9E9E9E;
}

/* line 77, ../sass/_mat-colors.scss */
.mat-blue-grey {
  background-color: #607D8B;
}

/* line 1, ../sass/_universal.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_universal.scss */
html {
  background-color: #e6e6e6;
  height: 100%;
}

/* line 10, ../sass/_universal.scss */
body {
  height: 100%;
}

/* line 14, ../sass/_universal.scss */
.container, .primary-navigation ul li {
  width: 90%;
  margin: 0 auto;
}

/* line 19, ../sass/_universal.scss */
.template {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  padding: 55px 0 0 0;
  height: 100%;
  background-color: #e6e6e6;
  right: 0px;
  margin: 0;
  left: 0px;
  overflow-y: scroll;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
@media (min-width: 721px) {
  /* line 19, ../sass/_universal.scss */
  .template {
    left: 250px;
    margin-left: 2%;
  }
}

/* line 39, ../sass/_universal.scss */
i {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* line 43, ../sass/_universal.scss */
hr {
  height: 1px;
  color: black;
  opacity: .3;
  margin: 0;
}

/* line 50, ../sass/_universal.scss */
.button-link {
  border-radius: 3px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
  padding: 20px 50px;
}

/* line 1, ../sass/_header.scss */
.primary-navigation {
  z-index: 10;
  position: fixed;
  width: 100%;
  background: #f3f3f3;
  padding: 27.5px 0;
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 9, ../sass/_header.scss */
.primary-navigation ul {
  background: rgba(0, 188, 212, 0.95);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  height: 100%;
  left: 0;
  top: 55px;
  width: 100%;
  padding: 25px 0 0 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 9, ../sass/_header.scss */
  .primary-navigation ul {
    visibility: visible;
    position: absolute;
    display: block;
    right: 5%;
    opacity: 1;
    background: transparent;
    padding: 0 0 0 0;
    height: auto;
    top: 50%;
    left: auto;
    width: auto;
    margin: -8px 0 0 0;
    -moz-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    -webkit-transition: height 0.4s ease;
    transition: height 0.4s ease;
  }
}
/* line 35, ../sass/_header.scss */
.primary-navigation ul li {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 50px 0 0 30px;
  -moz-transform:  translateY(20px);
  -ms-transform:  translateY(20px);
  -webkit-transform:  translateY(20px);
  transform:  translateY(20px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 35, ../sass/_header.scss */
  .primary-navigation ul li {
    font-size: 16px;
    padding: 0 0 0 0;
    width: auto;
    font-weight: 400;
    -moz-transform:  translateY(0px);
    -ms-transform:  translateY(0px);
    -webkit-transform:  translateY(0px);
    transform:  translateY(0px);
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 14px;
    padding-right: 14px;
  }
  /* line 49, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .primary-navigation ul li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .primary-navigation ul li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .primary-navigation ul li.last {
    padding-right: 0;
  }
}
/* line 53, ../sass/_header.scss */
.primary-navigation ul li a {
  text-decoration: none;
  color: #f3f3f3;
  opacity: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 53, ../sass/_header.scss */
  .primary-navigation ul li a {
    opacity: 1;
    color: #a0a0a0;
    letter-spacing: 2px;
  }
  /* line 62, ../sass/_header.scss */
  .primary-navigation ul li a:hover {
    color: #3a3a3a;
  }
}
/* line 69, ../sass/_header.scss */
.primary-navigation .mark {
  position: absolute;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 76, ../sass/_header.scss */
.primary-navigation .hamburger {
  display: block;
  position: absolute;
  width: 40px;
  top: 50%;
  right: 5%;
  margin-top: -14.5px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 85, ../sass/_header.scss */
.primary-navigation .hamburger .bar {
  background: #8d8d8d;
  display: block;
  height: 5px;
  margin: 0 0 7px 0;
  position: relative;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 94, ../sass/_header.scss */
.primary-navigation .hamburger .bar:last-child {
  margin: 0px;
}
@media (min-width: 721px) {
  /* line 76, ../sass/_header.scss */
  .primary-navigation .hamburger {
    display: none;
  }
}

/* line 103, ../sass/_header.scss */
.show {
  background: rgba(0, 188, 212, 0.95);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 103, ../sass/_header.scss */
  .show {
    background: #f3f3f3;
  }
}
/* line 109, ../sass/_header.scss */
.show ul {
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 113, ../sass/_header.scss */
.show ul li {
  font-size: 35px;
  padding: 20px 0 0 30px;
  -moz-transform:  translateY(0px);
  -ms-transform:  translateY(0px);
  -webkit-transform:  translateY(0px);
  transform:  translateY(0px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 113, ../sass/_header.scss */
  .show ul li {
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 0;
    width: auto;
    -moz-transform:  translateY(0px);
    -ms-transform:  translateY(0px);
    -webkit-transform:  translateY(0px);
    transform:  translateY(0px);
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 14px;
    padding-right: 14px;
  }
  /* line 49, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .show ul li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .show ul li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .show ul li.last {
    padding-right: 0;
  }
}
/* line 127, ../sass/_header.scss */
.show ul li a {
  opacity: 1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 127, ../sass/_header.scss */
  .show ul li a {
    font-size: 16px;
    opacity: 1;
    color: #a0a0a0;
    letter-spacing: 2px;
  }
  /* line 134, ../sass/_header.scss */
  .show ul li a:hover {
    color: #3a3a3a;
  }
}
@media (min-width: 721px) {
  /* line 109, ../sass/_header.scss */
  .show ul {
    background: clear;
  }
}
/* line 144, ../sass/_header.scss */
.show .mark {
  opacity: 0.9;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 721px) {
  /* line 144, ../sass/_header.scss */
  .show .mark {
    opacity: 1;
  }
}
/* line 151, ../sass/_header.scss */
.show .hamburger {
  -moz-transform: rotate(90deg) scale(0.8);
  -ms-transform: rotate(90deg) scale(0.8);
  -webkit-transform: rotate(90deg) scale(0.8);
  transform: rotate(90deg) scale(0.8);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 154, ../sass/_header.scss */
.show .hamburger .bar {
  background: #f3f3f3;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 158, ../sass/_header.scss */
.show .hamburger .bar-top {
  top: 12px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 163, ../sass/_header.scss */
.show .hamburger .bar-bottom {
  top: -12px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 168, ../sass/_header.scss */
.show .hamburger .bar-middle {
  margin-left: 20px;
  width: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 1, ../sass/_shout-bar.scss */
.shout-column {
  padding: 55px 1% 0 1%;
  height: 100%;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}

/* line 8, ../sass/_shout-bar.scss */
.wrapper {
  display: -webkit-flex;
  display: flex;
  overflow: auto;
}

/* line 17, ../sass/_shout-bar.scss */
.shout-column .bubble:not(:first-child) {
  opacity: 0;
  -moz-animation: glide-in 0.7s 1 ease forwards;
  -webkit-animation: glide-in 0.7s 1 ease forwards;
  animation: glide-in 0.7s 1 ease forwards;
}
/* line 21, ../sass/_shout-bar.scss */
.shout-column .bubble:first-child {
  opacity: 0;
  -moz-animation: glide-in 0s 1 ease forwards;
  -webkit-animation: glide-in 0s 1 ease forwards;
  animation: glide-in 0s 1 ease forwards;
}
/* line 26, ../sass/_shout-bar.scss */
.shout-column .bubble:not(:first-child):active {
  -moz-transform: rotateX(10deg);
  -ms-transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
}
/* line 30, ../sass/_shout-bar.scss */
.shout-column .bubble:last-child {
  margin-bottom: 30px;
}
/* line 35, ../sass/_shout-bar.scss */
.shout-column .bubble a > * {
  opacity: .9;
}
/* line 39, ../sass/_shout-bar.scss */
.shout-column .bubble a:hover > * {
  opacity: 1;
}
/* line 43, ../sass/_shout-bar.scss */
.shout-column .bubble a:hover i {
  color: #FFC107;
}

/* line 52, ../sass/_shout-bar.scss */
.bubble {
  position: relative;
  background: #f3f3f3;
  width: 250px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  -moz-transform-origin: 0 0 50px;
  -webkit-transform-origin: 0 0 50px;
  transform-origin: 0 0 50px;
}
/* line 61, ../sass/_shout-bar.scss */
.bubble a {
  text-decoration: none !important;
}
/* line 65, ../sass/_shout-bar.scss */
.bubble h1 {
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  padding: 12px;
  text-align: center;
  width: 100%;
}
/* line 72, ../sass/_shout-bar.scss */
.bubble .shout {
  height: 150px;
  width: 100%;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 78, ../sass/_shout-bar.scss */
.bubble .shout i {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 50px;
  color: #6d6d6d;
}
/* line 83, ../sass/_shout-bar.scss */
.bubble .shout hr {
  height: 87%;
  width: 1px;
  margin: 0 0 0 5px;
  color: #a0a0a0;
}
/* line 89, ../sass/_shout-bar.scss */
.bubble .shout .shout-text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #6d6d6d;
  padding-left: 7px;
  height: 100%;
  width: 173px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
/* line 104, ../sass/_shout-bar.scss */
.bubble .shout .shout-text b {
  color: #3a3a3a;
  margin-bottom: 6px;
  font-weight: 700;
}

@-moz-keyframes glide-in {
  0% {
    -moz-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -moz-transform: scale(0.8) rotateY(-70deg);
    transform: scale(0.8) rotateY(-70deg);
  }
  80% {
    -moz-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes glide-in {
  0% {
    -webkit-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -webkit-transform: scale(0.8) rotateY(-70deg);
    transform: scale(0.8) rotateY(-70deg);
  }
  80% {
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes glide-in {
  0% {
    -moz-transform-origin: 270px 700px 0px;
    -webkit-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -moz-transform: scale(0.8) rotateY(-70deg);
    -ms-transform: scale(0.8) rotateY(-70deg);
    -webkit-transform: scale(0.8) rotateY(-70deg);
    transform: scale(0.8) rotateY(-70deg);
  }
  80% {
    -moz-transform: scale(1) rotateY(0deg);
    -ms-transform: scale(1) rotateY(0deg);
    -webkit-transform: scale(1) rotateY(0deg);
    transform: scale(1) rotateY(0deg);
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(2) {
  -moz-animation-delay: 0.14s;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(3) {
  -moz-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  animation-delay: 0.21s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(4) {
  -moz-animation-delay: 0.28s;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(5) {
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(6) {
  -moz-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(7) {
  -moz-animation-delay: 0.49s;
  -webkit-animation-delay: 0.49s;
  animation-delay: 0.49s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(8) {
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(9) {
  -moz-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  animation-delay: 0.63s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(10) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(11) {
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  animation-delay: 0.77s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(12) {
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  animation-delay: 0.84s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(13) {
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(14) {
  -moz-animation-delay: 0.98s;
  -webkit-animation-delay: 0.98s;
  animation-delay: 0.98s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(15) {
  -moz-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

/* line 132, ../sass/_shout-bar.scss */
.shout-column .bubble:nth-child(16) {
  -moz-animation-delay: 1.12s;
  -webkit-animation-delay: 1.12s;
  animation-delay: 1.12s;
}

/* line 1, ../sass/_poll.scss */
.podium-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 90%;
  padding: 20px 0;
}
@media (min-width: 721px) {
  /* line 1, ../sass/_poll.scss */
  .podium-info {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* line 12, ../sass/_poll.scss */
.podium-info .stuff {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-bottom: 10%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
@media (min-width: 721px) {
  /* line 12, ../sass/_poll.scss */
  .podium-info .stuff {
    width: 40%;
  }
}
/* line 22, ../sass/_poll.scss */
.podium-info .stuff .podium-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}
/* line 28, ../sass/_poll.scss */
.podium-info .stuff h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #3a3a3a;
  margin: 0 16px 0 0;
}
/* line 35, ../sass/_poll.scss */
.podium-info .stuff hr {
  width: 60%;
}
/* line 38, ../sass/_poll.scss */
.podium-info .stuff h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3a3a3a;
}
/* line 44, ../sass/_poll.scss */
.podium-info .stuff p {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6d6d6d;
  margin: 10px 0 0 0;
}
/* line 56, ../sass/_poll.scss */
.podium-info .graph-area {
  width: 300px;
  height: 300px;
  margin-top: auto;
  content: " ";
}
@media (min-width: 721px) {
  /* line 56, ../sass/_poll.scss */
  .podium-info .graph-area {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 71, ../sass/_poll.scss */
.latest-poll {
  background-color: #f3f3f3;
  position: relative;
  margin-top: auto;
  width: 100%;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
  display: none;
}
/* line 77, ../sass/_poll.scss */
.latest-poll h1 {
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px;
}
/* line 81, ../sass/_poll.scss */
.latest-poll .poll-shouts {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
}
@media (min-width: 721px) {
  /* line 81, ../sass/_poll.scss */
  .latest-poll .poll-shouts {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 721px) {
  /* line 93, ../sass/_poll.scss */
  .latest-poll .bubble {
    margin-right: 5%;
  }
}
/* line 97, ../sass/_poll.scss */
.latest-poll .bubble:last-child {
  margin-right: 0;
}
/* line 101, ../sass/_poll.scss */
.latest-poll .bubble i {
  color: #FFC107;
}
@media (min-width: 721px) {
  /* line 71, ../sass/_poll.scss */
  .latest-poll {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* line 1, ../sass/_index.scss */
.hero-image {
  width: 100%;
  background: url(../img/hero-image.jpg) no-repeat center center scroll;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  max-width: 1800px;
  text-align: center;
}
/* line 10, ../sass/_index.scss */
.hero-image h1 {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Lato', sans-serif;
  text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.12);
  text-shadow: 3px 1px 1px 0px rgba(0, 0, 0, 0.12);
  color: #f3f3f3;
  font-size: 35px;
  font-weight: 900;
  margin: 100px 0;
}
@media (min-width: 721px) {
  /* line 10, ../sass/_index.scss */
  .hero-image h1 {
    text-shadow: 6px 3px 1px rgba(0, 0, 0, 0.12);
    text-shadow: 6px 3px 1px 0px rgba(0, 0, 0, 0.12);
    font-size: 45px;
    margin: 100px 0;
  }
}
@media (min-width: 1025px) {
  /* line 10, ../sass/_index.scss */
  .hero-image h1 {
    text-shadow: 10px 6px 1px rgba(0, 0, 0, 0.12);
    text-shadow: 10px 6px 1px 0px rgba(0, 0, 0, 0.12);
    font-size: 70px;
    margin: 120px 0;
  }
}

/* line 32, ../sass/_index.scss */
.product-point, .product-template .product-fact {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

/* line 41, ../sass/_index.scss */
.product-template {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 44, ../sass/_index.scss */
.product-template p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #6d6d6d;
}
/* line 50, ../sass/_index.scss */
.product-template p b {
  font-weight: 700;
  color: #3a3a3a;
}
/* line 55, ../sass/_index.scss */
.product-template .product-fact {
  background: #f3f3f3;
  padding: 230px 5%;
}
/* line 59, ../sass/_index.scss */
.product-template .product-fact .product-wrapper, .product-template .product-fact .create-holder form, .create-holder .product-template .product-fact form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 200px;
}
@media (min-width: 1025px) {
  /* line 59, ../sass/_index.scss */
  .product-template .product-fact .product-wrapper, .product-template .product-fact .create-holder form, .create-holder .product-template .product-fact form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
/* line 71, ../sass/_index.scss */
.product-template .product-fact .definition {
  margin: 0 0 50px 0;
}
@media (min-width: 1025px) {
  /* line 71, ../sass/_index.scss */
  .product-template .product-fact .definition {
    text-align: left;
    width: 50%;
    margin-right: 50px;
  }
  /* line 77, ../sass/_index.scss */
  .product-template .product-fact .definition:nth-child(2) {
    margin-left: 50px;
    margin-right: 0px;
  }
}
/* line 82, ../sass/_index.scss */
.product-template .product-fact .definition h1 {
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  font-weight: 400;
  font-size: 30px;
  margin: 0 0 20px 0;
}
/* line 89, ../sass/_index.scss */
.product-template .product-fact .definition img {
  width: 238px;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}

/* line 1, ../sass/_podiums.scss */
.template-podiums, .template-apply {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 50px 0;
}
/* line 7, ../sass/_podiums.scss */
.template-podiums h1, .template-apply h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #9a9a9a;
  font-size: 40px;
  margin-bottom: 40px;
}
/* line 14, ../sass/_podiums.scss */
.template-podiums .podiums-container, .template-apply .podiums-container {
  position: relative;
  padding: 20px 0 0 0;
  width: 96%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 721px) {
  /* line 14, ../sass/_podiums.scss */
  .template-podiums .podiums-container, .template-apply .podiums-container {
    width: 90%;
  }
}
/* line 26, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle, .template-apply .podiums-container .podium-handle {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform-origin: 0 0 50px;
  -webkit-transform-origin: 0 0 50px;
  transform-origin: 0 0 50px;
  opacity: 1;
  position: relative;
  background: #f3f3f3;
  height: 160px;
  margin: 1%;
  width: 48%;
  padding: 10px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  /*			@media (min-width: (($app-size*4)+($app-margin*6))/.9 ){
  				width:23%;
  			}*/
  /*@include animation(slide-in .4s 1 ease forwards);*/
}
/* line 38, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle:hover, .template-apply .podiums-container .podium-handle:hover {
  -moz-box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
}
/* line 41, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle:active, .template-apply .podiums-container .podium-handle:active {
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
}
@media (min-width: 1025px) {
  /* line 26, ../sass/_podiums.scss */
  .template-podiums .podiums-container .podium-handle, .template-apply .podiums-container .podium-handle {
    width: 23%;
  }
}
/* line 52, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle h1, .template-apply .podiums-container .podium-handle h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: inherit;
  margin-top: 10px;
}
/* line 60, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle a, .template-apply .podiums-container .podium-handle a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  color: #9a9a9a;
}
/* line 70, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle a:hover, .template-apply .podiums-container .podium-handle a:hover {
  color: #3a3a3a;
}
/* line 74, ../sass/_podiums.scss */
.template-podiums .podiums-container .podium-handle i, .template-apply .podiums-container .podium-handle i {
  font-size: 100px;
  color: inherit;
}

@-moz-keyframes slide-in {
  0% {
    -moz-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -moz-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    top: 0px;
    opacity: 1;
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    top: 0px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-in {
  0% {
    -moz-transform-origin: 270px 700px 0px;
    -webkit-transform-origin: 270px 700px 0px;
    transform-origin: 270px 700px 0px;
    opacity: 0;
    top: 5px;
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
  }
  100% {
    top: 0px;
    opacity: 1;
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(0) {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(1) {
  -moz-animation-delay: 0.07s;
  -webkit-animation-delay: 0.07s;
  animation-delay: 0.07s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(2) {
  -moz-animation-delay: 0.14s;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(3) {
  -moz-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  animation-delay: 0.21s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(4) {
  -moz-animation-delay: 0.28s;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(5) {
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(6) {
  -moz-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(7) {
  -moz-animation-delay: 0.49s;
  -webkit-animation-delay: 0.49s;
  animation-delay: 0.49s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(8) {
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(9) {
  -moz-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  animation-delay: 0.63s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(10) {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(11) {
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  animation-delay: 0.77s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(12) {
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  animation-delay: 0.84s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(13) {
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(14) {
  -moz-animation-delay: 0.98s;
  -webkit-animation-delay: 0.98s;
  animation-delay: 0.98s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(15) {
  -moz-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

/* line 99, ../sass/_podiums.scss */
.podiums-container .podium-handle:nth-child(16) {
  -moz-animation-delay: 1.12s;
  -webkit-animation-delay: 1.12s;
  animation-delay: 1.12s;
}

/* line 1, ../sass/_apply.scss */
.template-apply {
  text-align: center;
}
/* line 4, ../sass/_apply.scss */
.template-apply p {
  font-family: 'Lato', sans-serif;
  color: #6d6d6d;
  width: 80%;
  font-size: 16px;
  line-height: 32px;
}
/* line 10, ../sass/_apply.scss */
.template-apply p b {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 20px;
}

/* line 26, ../sass/screen.scss */
.message-bubble, .create-holder form input[type=text], .create-holder form textarea, .create-holder form .option-wrapper input[type=text] {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  border-radius: 3px;
  border: 0px;
  background: #f3f3f3;
  margin: 10px auto;
  padding: 10px;
  opacity: .6;
}
/* line 35, ../sass/screen.scss */
.message-bubble:active, .create-holder form input[type=text]:active, .create-holder form textarea:active, .message-bubble:focus, .create-holder form input[type=text]:focus, .create-holder form textarea:focus, .message-bubble:hover, .create-holder form input[type=text]:hover, .create-holder form textarea:hover {
  opacity: 1;
  outline-width: 0;
  -moz-box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 3px 6px 10px 0 rgba(0, 0, 0, 0.4);
}

/* line 41, ../sass/screen.scss */
.form-font, .create-holder form input[type=text], .create-holder form textarea, .create-holder form .option-wrapper input[type=text] {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3a3a3a;
  line-height: 30px;
}

/* line 49, ../sass/screen.scss */
.form-button, .create-holder form input[type=submit], .create-holder form label .form-button {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  display: block;
  margin-right: 0;
  margin-left: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #f3f3f3;
  opacity: 1;
  border-radius: 1px;
  border: 0px;
  -moz-box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0px 0px rgba(0, 0, 0, 0.2);
}
/* line 62, ../sass/screen.scss */
.form-button:hover, .create-holder form input[type=submit]:hover, .create-holder form label .form-button:hover {
  -moz-box-shadow: inset 0 -4px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0px 0px rgba(0, 0, 0, 0.2);
}
/* line 65, ../sass/screen.scss */
.form-button:active, .create-holder form input[type=submit]:active, .create-holder form label .form-button:active, .form-button:focus, .create-holder form input[type=submit]:focus, .create-holder form label .form-button:focus {
  -moz-transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
  outline-width: 0;
}

/* line 71, ../sass/screen.scss */
.create-holder {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 1800px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 82, ../sass/screen.scss */
.create-holder h1 {
  margin: 0 0 10px 0;
  letter-spacing: -1px;
  font-family: 'Lato', sans-serif;
  color: #a0a0a0;
  font-weight: 900;
  font-size: 30px;
}
/* line 90, ../sass/screen.scss */
.create-holder form {
  /*@include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);*/
  max-width: 600px;
}
/* line 97, ../sass/screen.scss */
.create-holder form input[type=text] {
  width: 100%;
  display: block;
  height: 50px;
}
/* line 104, ../sass/screen.scss */
.create-holder form textarea {
  width: 100%;
  resize: none;
}
/* line 110, ../sass/screen.scss */
.create-holder form input[type=submit] {
  padding: 15px 25px;
  margin-top: 10px;
}
/* line 117, ../sass/screen.scss */
.create-holder form label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 121, ../sass/screen.scss */
.create-holder form label p {
  font-family: 'Lato', sans-serif;
  margin-right: 10px;
  font-size: 16px;
  color: #a0a0a0;
}
/* line 127, ../sass/screen.scss */
.create-holder form label input[type=submit], .create-holder form label .form-button {
  font-size: 16px;
  padding: 3px 6px;
  margin: 0;
}
/* line 136, ../sass/screen.scss */
.create-holder form .option-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
/* line 140, ../sass/screen.scss */
.create-holder form .option-wrapper input[type=text] {
  width: 80%;
  display: block;
  height: 50px;
}
/* line 147, ../sass/screen.scss */
.create-holder form .option-wrapper input[type=button] {
  padding: 0;
  font-size: 40px;
  height: 48px;
  width: 20%;
}
