.mat-red{
	background-color: #F44336;
}

.mat-black{
	background-color:$primary-black;
}

.mat-pink{
	background-color: #E91E63;
}

.mat-purple{
	background-color: #9C27B0;
}

.mat-deep-purple{
	background-color: #673AB7;
}

.mat-indigo{
	background-color: #3F51B5;
}

.mat-blue{
	background-color: #2196F3;
}

.mat-light-blue{
	background-color: #03A9F4;
}

.mat-cyan{
	background-color: #00BCD4;
}

.mat-teal{
	background-color: #009688;
}

.mat-green{
	background-color: #4CAF50;
}

.mat-light-green{
	background-color: #8BC34A;
}

.mat-lime{
	background-color: #CDDC39;
}

.mat-yellow{
	background-color: #FFEB3B;
}

.mat-amber{
	background-color: #FFC107;
}

.mat-orange{
	background-color: #FF9800;
}

.mat-deep-orange{
	background-color: #FF5722;
}

.mat-brown{
	background-color: #795548;
}

.mat-grey{
	background-color: #9E9E9E;
}

.mat-blue-grey{
	background-color: #607D8B;
}



