.shout-column{
	padding: $nav-height 1% 0 1%;
	@extend .mat-cyan;
	height:100%;
	@include flex-grow(0);
}

.wrapper{
	@include display-flex;
	@extend .mat-cyan;
	overflow: auto;
}


.shout-column{
	.bubble{
		&:not(:first-child){
			opacity:0;
			@include animation(glide-in .7s 1 ease forwards);
		}
		&:first-child{
			opacity:0;
			@include animation(glide-in 0s 1 ease forwards);
		}
		&:not(:first-child){
			&:active{
				@include transform(rotateX(10deg));
			}
		}
		&:last-child{
			margin-bottom:30px;
		}

		a{
			& > *{
					opacity:.9;
			}
			&:hover {
				& > *{
					opacity:1;
				}

				i{
					color:#FFC107;
				}
			}
		}
	}

}

.bubble{
	position:relative;
	background: $primary-white;
	width:250px;
	@include border-radius(1px); 
	@include single-box-shadow(0, 1px, 5px, 0, rgba(0,0,0,.3));
	margin: 10px 0;
	@include transform-origin(0,0,50px);

	a{
		text-decoration: none !important;
	}

	h1{
		@include ideal-heading;
		padding:12px;
		text-align: center;
		width:100%;
	}

	.shout{
		height:150px;
		width:100%;
		padding:10px;
		@include display-flex;
		@include align-items(center);
		i{
			@include podium-transition;
			font-size:50px;
			color:$secondary-grey;
		}
		hr{
			height:87%;
			width:1px;
			margin: 0 0 0 5px;
			color:$primary-grey;
		}
		.shout-text{
			@include display-flex;
			@include flex-direction(column);
			@include align-items(flex-start);
			@include justify-content(flex-start);
			@include align-self(flex-start);
			@include lato;
			font-size: 15px;
			color:$secondary-grey;
			padding-left: 7px;
			height:100%;
			width:173px;
			overflow:hidden;
    		text-overflow:ellipsis;
    		line-height: 20px;
			b{
				color:$primary-black;
				margin-bottom: 6px;
				font-weight: 700;
			}
		}
	}

}

@include keyframes(glide-in){
	0%{
		@include transform-origin(  270px, 700px, 0px );
		opacity:0;
		top:5px;
		@include transform(scale(.8) rotateY(-70deg));
	}
	80%{
		@include transform(scale(1) rotateY(0deg));
	}
	100%{
		top:0px;
		opacity:1;
	}
}

@for $i from 2 through 16 {
	.shout-column{	
		.bubble:nth-child(#{$i}){
			@include animation-delay( $i * .07s);
		}
	}
}