*{
	@include box-sizing(border-box);
}

html{
	background-color: $background-grey;
	height:100%;
}

body{
	height:100%;
}

.container{
	width:90%;
	margin:0 auto;
}

.template{
	@include podium-transition;
	position:fixed;
	padding: $nav-height 0 0 0;
	height:100%;
	background-color: $background-grey;
	right:0px;
	margin:0;
	left:0px;
	overflow-y: scroll;
	@media (min-width:$mobile-width){
		left:250px;
		margin-left: 2%;
	}

	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);
}

i{
	@include material-icons;
}

hr{
	height: 1px;
	color:black;
	opacity: .3;
	margin: 0;
}

.button-link{
	border-radius: 3px;
	text-align: center;
	@include lato;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	text-decoration: none;
	padding: 20px 50px;
}
