/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists";

/*VARIABLES*/
@import "variables";

/*MIXINS*/
@import "mixins";

/*SASS FILES*/
@import "mat-colors";
@import "universal";
@import "header";
@import "shout-bar";
@import "poll";
@import "index";

.template-podiums{
	width:100%;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);
	padding:50px 0;
	h1{
		@include lato;
		font-weight: 900;
		color:darken($background-grey, 30%);
		font-size: 40px;
		margin-bottom: 40px;
	}
	.podiums-container{
		position:relative;
		padding:$app-margin*2 0 0 0;
		width:96%;
		@media (min-width:$mobile-width){
			width:90%;
		}
		@include display-flex;
		@include justify-content(flex-start);
		@include align-content(flex-start);
		@include flex-wrap(wrap);

		.podium-handle{
			@include podium-transition;
			@include transform-origin(0,0,50px);
			opacity: 1;
			position:relative;
			background: $primary-white;
			height:$app-size;
			margin:1%;
			width:48%;
			padding:10px 0;
			@include border-radius(3px); 
			@include single-box-shadow(0, 1px, 5px, 0, rgba(0,0,0,.3));
			&:hover{
					@include single-box-shadow(3px, 6px, 10px, 0, rgba(0,0,0,.4));
			}
			&:active{
				@include transform(rotateX(20deg));
			}	

			@media (min-width:$tablet-width){
				width:23%;
			}
/*			@media (min-width: (($app-size*4)+($app-margin*6))/.9 ){
				width:23%;
			}*/

			h1{
				@include lato;
				font-weight: 400;
				font-size:20px;
				color:inherit;
				margin-top: 10px;
			}

			a{
				@include podium-transition;
				text-decoration:none !important;
				height:100%;
				width:100%;
				@include display-flex;
				@include flex-direction(column);
				@include align-items(center);
				color:darken($background-grey, 30%);

				&:hover{
					color:$primary-black;
				}
			}
			i{
				font-size:100px;
				color:inherit;
			}

			/*@include animation(slide-in .4s 1 ease forwards);*/
		}
	}
}

@include keyframes(slide-in){
	0%{
		@include transform-origin(  270px, 700px, 0px );
		opacity:0;
		top:5px;
		@include transform(translateY(300px));
	}
	100%{
		top:0px;
		opacity:1;
		@include transform(translateY(0px));
	}
}

@for $i from 0 through 16 {
	.podiums-container .podium-handle:nth-child(#{$i}){
		@include animation-delay( $i * .07s);
	}
}
