/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/lists";

/*VARIABLES*/
@import "variables";

/*MIXINS*/
@import "mixins";

/*SASS FILES*/
@import "mat-colors";
@import "universal";
@import "header";
@import "shout-bar";
@import "poll";
@import "index";
@import "podiums";

.template-apply{
	@extend .template-podiums;
	text-align:center;
	p{
		@include lato;
		color: $secondary-grey;
		width:80%;
		font-size: 16px;
		line-height: 32px;
		b{
			color:$primary-black;
			font-weight: 700;
			font-size: 20px;

		}
	}
}