{% block head %}
<head>
<title>{% block title %}Podium{% endblock %}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" id="lato-css" href="https://fonts.googleapis.com/css?family=Lato%3A400%2C900%2C700%2C100&amp;ver=4.4.2" type="text/css" media="all">
<link rel="stylesheet" id="material-icons-css" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;ver=4.4.2" type="text/css" media="all">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}">

<script src="{{ url_for('static', filename='js/jquery-2.2.2.js') }}"></script>
{% endblock %}
</head>

{% block body %}
<body>
    {% block navbar %}
    <nav id="primary-navigation" class="primary-navigation">

	     <div class="container">
	        <a href="{{ url_for('.hello') }}"> 
	            <img src="{{ url_for('static', filename='img/nav-logo.png') }}" class="mark" alt="Logo Mark">
	        </a>
	            <a href="#" id="toggle-menu" class="hamburger">
	                <span class="bar bar-top"></span>
	                <span class="bar bar-middle"></span>
	                <span class="bar bar-bottom"></span>
	            </a>


	            <ul class="links">
	            	<li>
	            		<a href="#">Podiums</a>
	            	</li>
	            </ul>

	    </div>
	</nav>  
    {% endblock %}
    
    <div class="wrapper">
	    <div class="shout-column">
	    	<article class="bubble">
	    		<h1>Recent</h1>
	    	</article>
	    {% block shouts %}

	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
	    		<a href="#">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>#podium</b>
    					<p>Here is a test shout. It must not exceed the length of the space given. weeee shall see what it does if it goesover the alloted size</p>
    				</div>
    			</div>
	    		</a>
	    	</article>

	    	<!--  *************  -->
	    	

	    {% endblock %}
	    </div>
	   	<div class="template">
	    {% block content %}

	    {% endblock %}
	    </div>
    </div>

    {% block scripts %}
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% endblock %}
</body>
{% endblock %}