{% extends "base.html" %}


{% block content %}
<section class="podium-info">
    <div class="stuff">
        <div class="podium-title">
            <h1>{{ podium.title }}</h1>
            <h2>| Followers: {{ podium.num_subscribers }}</h2>
        </div>
        <hr/>
        <p>
        {{ podium.description }}
        </p>
    </div>

    <div class="graph-area">
        <!-- <div class="poll-info">
            <h1>Poll</h1>
            <ul>
                <li>Option</li>
                <li>Option</li>
                <li>Option</li>
                <li>Option</li>
            </ul>
        </div> -->
        <div class="graph">

            {{ podium.latest_poll.resuts }}

        </div>
    </div>
</section>

<section class="latest-poll">
	<h1>Latest Poll</h1>
	<div class="poll-shouts">
	    	
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>{{ podium.title }}</b>
    					<p>{{ podium.latest_poll.question}}</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>{{ podium.title }}</b>
    					<p>
                            {% for option in podium.latest_poll.options %}
        						{{ option }} <br/>
                            {% endfor %}
    					</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	</div>
</section>

{% endblock %}

{% block shouts %}
{% include "shouts.html" %}
{% endblock %}