{% extends "base.html" %}


{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.11.0/lodash.min.js"></script>
<!-- Load c3.css -->
<link href="{{ url_for('static', filename='css/c3.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<section class="podium-info">
    <div class="stuff">
        <div class="podium-title">
            <h1>{{ podium.title }}</h1>
            <h2>| Followers: {{ podium.num_subscribers }}</h2>
        </div>
        <hr/>
        <p>
        {{ podium.description }}
        </p>
    </div>

    <div class="graph-area" id="chart">
    </div>
</section>

<section class="latest-poll">
	<h1>Latest Poll</h1>
	<div class="poll-shouts">
	    	
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>{{ podium.title }}</b>
    					<p>{{ podium.latest_poll.question}}</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>{{ podium.title }}</b>
    					<p>
                            {% for option in podium.latest_poll.options %}
        						{{ option }} <br/>
                            {% endfor %}
    					</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	</div>
</section>

{% endblock %}

{% block shouts %}
{% include "shouts.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/c3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/poll.js') }}"></script>
{% endblock %}