{% extends "base.html" %}


{% block content %}
<section class="create-holder">
  <h1>Create a poll</h1>
  <form id="pollForm" role="form">
      <textarea name="question" id="question" rows="4" cols="32" maxlength="140" placeholder="140 character max"></textarea>
      <label> <p>add option</p> <button class="form-button" type="button" id="addOption">+</button></label>
      <div id="option_fields">
      </div>
      <input class="form-button" type="submit" value="Send" />
  </form>
</section>
{% endblock %}

{% block shouts %}
{% include "shouts.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript"> 

  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };

  $(function() {
      $('form').submit(function(e) {
          e.preventDefault();
          // var poll_info = $('form').serializeObject();
          var poll_info = {};
          poll_info["podium_title"] = "{{ podium_title }}";
          poll_info["question"] = $('#pollForm #question').val();
          poll_info["options"] = [];
          for(var i=1; i <= countOption; i++){
            var tmp_string = letters[i-1]; 
            tmp_string += $('#optionBox'+i).val();
            poll_info["options"].push(tmp_string);
          }

          $.ajax({
            type: "POST",
            url: "/podium/poll/create",
            data: JSON.stringify(poll_info),
            success: function (data) {
              window.location.href = location.protocol + "//" + location.hostname + ":" + port + "/podium/{{ podium_title }}";
              $("#output").html(data["message"]);
            },
            dataType: "json",
            contentType: "application/json"
          });
          return false;
      });
  });

  countOption = 0;
  letters = ['A | ', 'B | ', 'C | ', 'D | '];

  function addNewOption(){
        if ( countOption >= 4 ) {
            alert("Maximum of four options exceeded");
            return;
        } 
        countOption++;
        window.console && console.log("Adding option"+countOption);

        //Grab some HTML with hot spots and insert into DOM
        var source = $('#option-template').html();
        $('#option_fields').append(source.replace(/@COUNT@/g,countOption));
  }

  $(document).ready(function(){
      while(countOption < 2){
          addNewOption();
      }
  });

  $('#addOption').click(function(event){
        event.preventDefault();
        addNewOption();
        $('#optionBox'+countOption).focus();
  });
</script>

<script id="option-template">
  <div id="option@COUNT@" class="option-wrapper">
    <input type="text" name="option_number@COUNT@" id="optionBox@COUNT@" value="" placeholder="25 character max" maxlength="25"/>
    <input class="form-button" type="button" value="-" onclick="if(countOption<3) return false;$('#option@COUNT@').remove(); countOption--;return false;">
  </div>
</script>

{% endblock %}