{% extends "base.html" %}


{% block content %}

<section class="latest-poll">
	<h1>Latest Poll</h1>
	<div class="poll-shouts">
	    	
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>#podium</b>
    					<p>Here is a test poll that asks a question?</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	    	<!-- SHOUT TEMPLATE-->

	    	<article class="bubble">
    			<div class="shout">
    				<i>notifications</i>
    				<hr/>
    				<div class="shout-text">
    					<b>#podium</b>
    					<p>
    						A. Option 1 <br/>
							B. Option 2 <br/>
							C. Option 3 <br/>
							D. Option 4 <br/>
    					</p>
    				</div>
    			</div>
	    	</article>

	    	<!--  *************  -->
	</div>
</section>

{% endblock %}